@media screen and (min-width:320px) {
.header {
    height: 100vh
}
.layercontent h1{
    font-size:  3.2rem;
    font-weight: 600;
}
.layercontent::after{
    left: 15px;
    font-size:  2rem;
    }



/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .about-me{
        display: flex;
    }
    .services-row{

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .bg-white{

        width: 30%;
    }
    .card2{
        margin-top: 0px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .layercontent h1{
        font-size:  4.5rem;
        font-weight: 600;
    }
    .layercontent::after{
        left: 15px;
        font-size:  3rem;
        }
    .about-me{
        display: flex;
    }
    .services-row{

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .numbers-overlay{
        display: flex;
    }

 .numbers-row{
     width: 25%;
 }
 .portfolio-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row{
    width: 30%;
    margin-top: 0px;
}
.blog-row{
    display: flex;
    justify-content: space-evenly;
 
}
.width-30{
    width: 30%;
    margin-top: 0px;
}
.d-flex-none{
    display: flex;
}
.footer-column{
    width: 50%;
}


}