body{
    font-family: var(--bs-font-sans-serif);
    background-color: #f5f5f5;
    color: #4e4e4e;
}
h2{
    color: #1e1e1e;
}
h5{
    color: #1e1e1e;
}
.navbar{
    background-color: #000000b7;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0%;
    right: 0%;
    padding: 15px 15px;
    z-index: 9999999;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs .nav-link{
    color: white;
    border: 0px;
    border-bottom: 1px solid transparent;
}
.header{
    background-attachment: fixed;
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
  }
  
  .layer{
      width: 100%;
      height: 100%;
      background-color: #0a0b0e80;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      position: absolute;
  }
  
  .layercontent h1{
      font-size:  3.2rem;
      font-weight: 600;
  }
  .layercontent::after{
      content: "";
      position: relative;
      top: 50px;
      left: 50px;
      font-size:  2rem;
      font-weight: 500;
      border-right: white solid 3px;
      animation: typing 3s infinite;
  }

  @keyframes typing{
      0%{content: "";}
      5%{content: "W";}
      10%{content: "We";}
      15%{content: "Web";}
      20%{content: "Web ";}
      25%{content: "Web d";}
      30%{content: "Web des";}
      35%{content: "Web desi";}
      40%{content: "Web desin";}
      45%{content: "Web designe";}
      50%{content: "Web designer";}
      55%{content: "Web design";}
      60%{content: "Web desig";}
      65%{content: "Web desi";}
      70%{content: "Web des";}
      75%{content: "Web de";}
      80%{content: "Web ";}
      85%{content: "Web";}
      90%{content: "We";}
      95%{content: "W";}
      100%{content: "";}
  }
  .about-me{
      background-color: white;
      width: 85%;
  }
  .row-about{

      display: flex;
      justify-content: center;
      align-items: center;
   
  }
.name{
    display: flex;
}
.skills p{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.progress{
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}
.progress-85{
    width: 85%;
    height: 0.7rem;
    background-color: #0078ff;
}
.progress-75{
    width: 75%;
    height: 0.7rem;
    background-color: #0078ff;
}
.progress-50{
    width: 50%;
    height: 0.7rem;
    background-color: #0078ff;
}
.progress-90{
    width: 90%;
    height: 0.7rem;
    background-color: #0078ff;
}
.title{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
  }
.row-p{
    display: inline-block;
}

.tittle-left{
    font-size: 2rem;
    position: relative;

}
.tittle-left::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.services-head{
padding: 50px 0 0 ;
   text-align: center;
   position: relative;

  }
  .services-head h2{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
.services-head::after{
    content: "";
    position: absolute;
    height: 5px;
    background-color: #0078ff;
    width: 5%;
    bottom: -12px;
    left: 47.5%;
}
.card2{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 2s;
    
  }
  .w-h{
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }

  .bg-white{
      background-color: rgb(255, 255, 255);
      border-radius: 20px;

  }
  .card2:hover .hover{
background-color: #007aff;
color: white;
transition: all 0.2s;
}
.services{
    width: 90%;
    margin: auto;

}

.numbers{
    background-image: url(../images/post-3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 12rem 0;
}
.numbers-overlay{
    background-color: #0077ff9d;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

}
.numbers-row{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border-info {
    border-color: #7cb9ff!important;
}

    .bordernumbers{
        border: 10px solid!important;
    }
    .text-edit{
        color: #ffffffc0!important;
        font-size: 30px;
    }
    .text-size-numbers{

        font-size: 30px;
    }
    .row{
   
        background-color: white;
        margin-top: 50px;
  

    
    }
    .port-image{
        overflow: hidden;
        padding: 0px;
    }
    .row:hover .port-image img{
        transform: scale(1.3);
    }


    .port-image img{
        width: 100%;
        transition: all 1s;
   
 
    }
    .port-text{
        display: flex;
     align-items: center;
     justify-content: space-between;
    }
    .w-like-icon{
        color: #007aff;
        font-size: 40px;

    }


    .background-img{
        background-image: url(../images/overlay-bg.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    
    
    }
    .carousel-overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0077ff9d;
        color: white;
        width: 100%;
        height: 100%;
    }
.carousel-item{
text-align: center;



    width: 60%;
    margin: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}


.carousel-caption {
    position: static;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.blog-content-h3:hover .text-hover{
color: #0078ff;
}
.blog-content-absloute{
    position: relative;
    top: -16px;
    left: 5px;

    line-height: 25px;
text-align: center;
}
.blog-content-h6{
display: inline-block;
}
.avatar{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.width-30{
    width: 100%;
    margin-top: 50px;

}
.background-white{
    background-color: white;
}
.bg-gray{
    background-color: #f5f5f5;
}
.font-size-smaller{
    font-size: small;
}
.footer-overlay{
    background-color: #0077ff9d;
    width: 100%;
    height: 100%;
}
.footer-column{
    width: 100%;
}
.footer-contact{
    position: relative;
}
.title-left{
    position: relative;
}
.title-left::after{
    content: "";
    width: 100px;
    height: 3px;
    left: 0%;
    bottom: -10px;
    background-color: #0078ff;
    position: absolute;
}
ul{
    list-style-type: none;
}
.hover-icon{
   color: #1e1e1e;
}
.hover-icon:hover .footer-icon{
    background-color: #007aff;
    color: white;
    transition: all 0.2s;
    }
.w-80{
    width: 80%;
    margin: auto;
}
.arrow-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078ff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 777;
    position: fixed;
    right: 5%;
    bottom: 5%;
    transition: all 0.5s;

}
.arrow-icons a i{
    font-size: 25px;
    color: white;
}
.arrow-icons:hover {
    background-color: #2289ff;
}
